.fleft {float:left} .fright {float:right}
.hide {display:none}
.line_1{ height:18px;line-height:18px;} .line_2{ height:36px;line-height:36px} .line_3{ height:54px;line-height:54px}

.v0{height:9px;}.v1{ height:18px;} .v2{ height:36px;} .v3{ height:54px;} .v4{height:72px;} .v5{height:90px} .v6{height:108px} .v7{height:126px} .v8{height:144px}
.l1{ line-height:18px;} .l2{ line-height:36px;} .l3{ line-height:54px;}
.l0-l1{line-height:10px;}.l1-l2{line-height:27px;}.l0-l1{line-height:27px;}
.min8{min-width:640px;} .min10{ min-width:800px;} .min12{  min-width: 960px;} 


/* Square margin*/
.sqm{ margin: 10px;}


.mth1{ margin-top:18px !important;} .mth2{margin-top:36px !important;}
.mbh1{ margin-bottom: 18px !important;}.mbh2{margin-bottom:36px !important;}
.pth1{ padding-top:18px !important;} .pth2{padding-top: 36px !important}
.pbh1{ padding-bottom:18px !important;} .pbh2{padding-bottom: 36px !important}


.margin{ margin: 10px;}
.padding{ margin: 10px;}

/* defaults margin shorthand*/
.ml{margin-left: 10px !important; }
.mr{margin-right: 10px !important;}
.mt{margin-top: 10px !important;}
.mb{margin-bottom: 10px !important;}

/* defaults padding shorthand*/
.pl{padding-left: 10px !important;}
.pr{padding-right: 10px !important;}
.pt{padding-top: 10px !important;}
.pb{padding-bottom: 10px !important;}

.pl2{padding-left: 2px !important;}
.pr2{padding-right: 2px !important;}
.pt2{padding-top: 2px !important;}
.pb2{padding-bottom: 2px !important;}

.pl3{padding-left: 3px !important;}
.pr3{padding-right: 3px !important;}
.pt3{padding-top: 3px !important;}
.pb3{padding-bottom: 3px !important;}

.pl4{padding-left: 4px !important;}
.pr4{padding-right: 4px !important;}
.pt4{padding-top: 4px !important;}
.pb4{padding-bottom: 4px !important;}

.pl5{padding-left: 5px !important;}
.pr5{padding-right: 5px !important;}
.pt5{padding-top: 5px !important;}
.pb5{padding-bottom: 5px !important;}

.pl9{padding-left: 9px !important;}
.pr9{padding-right: 9px !important;}
.pt9{padding-top: 9px !important;}
.pb9{padding-bottom: 9px !important;}

.pl20{padding-left: 20px !important;;}
.pr20{padding-right: 20px !important;;}
.pt20{padding-top: 20px !important;;}
.pb20{padding-bottom: 20px !important;;}

.pl25{padding-left: 25px !important;;}
.pr25{padding-right: 25px !important;;}
.pt25{padding-top: 25px !important;;}
.pb25{padding-bottom: 25px !important;;}

.pl30{padding-left: 30px !important;;}
.pr30{padding-right: 30px !important;;}
.pt30{padding-top: 30px !important;;}
.pb30{padding-bottom: 30px !important;;}

.plr5{ padding: 0 5px;}

/* defaults margin shorthand*/
.ml2{margin-left: 2px !important;;}omega 
.mr2{margin-right: 2px !important;;}
.mt2{margin-top: 2px !important;; }
.mb2{margin-bottom: 2px !important;;}

.ml3{margin-left: 3px !important;;}
.mr3{margin-right: 3px !important;;}
.mt3{margin-top: 3px !important;;}
.mb3{margin-bottom: 3px !important;;}        

.ml4{margin-left: 4px!important;}
.mr4{margin-right: 4px!important;}
.mt4{margin-top: 4px!important;}
.mb4{margin-bottom: 4px!important;}

.ml5{margin-left: 5px!important;}
.mr5{margin-right: 5px!important;}
.mt5{margin-top: 5px!important;}
.mb5{margin-bottom: 5px!important;}

.ml6{margin-left: 6px!important;}
.mr6{margin-right: 6px!important;}
.mt6{margin-top: 6px!important;}
.mb6{margin-bottom: 6px}

.ml7{margin-left: 7px!important;}
.mr7{margin-right: 7px!important;}
.mt7{margin-top: 7px!important;}
.mb7{margin-bottom: 7px!important;}

.ml8{margin-left: 8px!important;}
.mr8{margin-right: 8px!important;}
.mt8{margin-top: 8px!important;}
.mb8{margin-bottom: 8px!important;}

.ml9{margin-left: 9px!important;}
.mr9{margin-right: 9px!important;}
.mt9{margin-top: 9px!important;}
.mb9{margin-bottom: 9px!important;}

.ml11{margin-left: 11px!important;}
.mr11{margin-right: 11px!important;}
.mt11{margin-top: 11px!important;}
.mb11{margin-bottom: 11px!important;}

.ml12{margin-left: 12px!important;}
.mr12{margin-right: 12px!important;}
.mt12{margin-top: 12px!important;}
.mb12{margin-bottom: 12px!important;}

.ml20{margin-left: 20px!important;}
.mr20{margin-right: 20px!important;}
.mt20{margin-top: 20px!important;}
.mb20{margin-bottom: 20px!important;}

.w100{width: 100% !important;}

/* Borders */
.borderr5{border-radius: 5px;}
.borderr10{border-radius: 10px;}

.pointer{
	cursor: pointer;
}

.bold{font-weight: bold;}
.normal{font-weight: normal;}
.italic{font-style: italic;}

.block{
	display:block;
}

/* Tamaños de texto */
.size8 {
	font-size: 8px;
}

.size9 {
	font-size: 9px;
}

.size10 {
	font-size: 10px;
}

.size11 {
	font-size: 11px;
}

.size12 {
	font-size: 12px;
}

.size13 {
	font-size: 13px;
}

.size14 {
	font-size: 14px;
}

.size15 {
	font-size: 15px;
} 

.size16 {
	font-size: 16px;
}

.size18 {
	font-size: 18px;
}

.size24 {
	font-size: 24px;
	line-height: 24px
}

.size26 {
	font-size: 26px;
	line-height: 26px;
}
.dil{
	display:inline;
}

