@CHARSET "UTF-8";
html {
	height:100%;
}

body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;	
	background-color:#ccc;
	color:#333;
}

a{
	color:#333;
	text-decoration:none;
}
.panel{
	height:100%;
	float:left;	
}

.sep{
	width: 2px;
	background-color: #CCC;
	position: absolute;	
	z-index: 2;
	height: 452px;
}

#panel_left, #panel_right{
	height:100%;
	position:relative;
}
#map_left, #map_right{
	height:100%;
}


header{
	height:72px;
	background-color:#176fb1;
	border-bottom:1px solid #013e88;	
	margin-bottom:2px;
	overflow:hidden;
}

header a.big_link{
	float: left;
	background: url("../img/MED_separador_cab2.png") no-repeat top right;
	line-height: 72px;
	height: 72px;
	color: #B4D1E6;Right
	font-size: 12px;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 12px;
	text-shadow: #013e88 0px -1px 0px;
	
}

div.sep2{
	background: url("../img/MED_separador_cab1.png") repeat-y top right;
	line-height: 72px;
	height: 72px;
	width: 2px;
}

header .enhaced{
	background:#0363aa url("../img/MED_separador_cab1.png") repeat-y right top;
	float:left;
	height:72px;	
}

a#ctrl_catalog{
	color: #dab400;
	font-weight: bold;
}

header .enhaced a{
	margin-left: 10px;
}

#search_server{
	margin-top: 27px;
	margin-left: 10px;
	width:70px;
}

.fleft{	float:left;}
.fright{ float:right;}
header #logo{
	margin-top: 10px;
	margin-left: 22px;	
}

header #search{
	background: white url("../img/MED_icon_buscar.png") no-repeat 353 6;
	padding-right: 22px;
	color: #333333;
	font-size: 17px;
	margin-left: 30px;
	margin-top: 19px;
	border: 1px solid #013E88;
	width: 380px;
	padding-left: 5px;
	height: 33px;
	margin-right: 20px;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.split_ctrl{
	
	
	
}
img.toggle{
	position:absolute;
	top:90px;
	z-index:4;
	cursor:pointer;
}

img.sync{
	position:absolute;
	top:0;
	z-index:4;	
	cursor:pointer;
}

.split_ctrl img.sync{
	top:125px;
}

#panel_left .split_ctrl img.toggle{
	right:1px;	
}
#panel_left .split_ctrl img.sync{
	right:0px;	
}
#panel_right .split_ctrl img.sync{
	left:0px;	
}
#panel_right .split_ctrl img.toggle{
	left:1px;	
}


.layer_ctrl{
	background:#f0f0f0 url("../img/MED_icon_capas.png") no-repeat right 9;
	position:absolute;
	bottom: 0px;
	right:0px;
	z-index:4;
	height: 24px;
	line-height:24px;
	padding-left: 10px;
	padding-right: 25px;
	color:#333 !important;
	font-weight:bold;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	border-top: 1px solid #888;
	border-left: 1px solid #888;
	border-radius: 5px 0 0 0;
	text-shadow: #fff 0px -1px 0px;
	z-index:1002;
	font-size:10px;
}

.layer_ctrl.open{
	padding: 10px 0 0 10px;
	height:24px;
	font-weight:bold;
	background-image: url("../img/MED_icon_cerrar_capas.png");
	width:240px;
	padding:0;
	background: #f0f0f0 url("../img/MED_icon_cerrar_capas.png") no-repeat 66px 8px;
	border-radius: 0;
	padding: 0 0 0 10px;
	
}
	
.layer_panel{
	position: absolute;
	bottom: 25px;
	right: 0;
	width: 250px;
	z-index: 1001;
	background-color: #fff;
	
	margin-top: 290px;
	overflow-y: scroll;
	display: none;
	border-left: 1px solid #999;
	border-top: 1px solid #999;
	border-radius: 6px 0 0 0px;
}


.layer_panel .add_layer{
	color:#007eb6;
	font-size: 11px;
	margin: 0 0 0 5px;
	line-height: 23px;
}
@media only screen and (min-height: 900) and (max-height:1080){
	.layer_panel{
		max-height: 600px;
	}
}	
@media only screen and (min-height: 700) and (max-height:899){
	.layer_panel{
		max-height: 500px;
	}
}
@media only screen and (min-height:550) and (max-height:699){
	.layer_panel{
		max-height: 300px;
	}
}
@media only screen and (min-height:400) and (max-height:549){
	.layer_panel{
		max-height: 200px;
	}
}

@media only screen and (max-height:399){
	.layer_panel{
		max-height: 100px;
	}
}	



/*
.layer_panel.close{
	height: 60px;
	overflow: hidden;	
	z-index:1;
	padding-bottom:0;
	padding-top:0;
	
}*/
ul.layer_panel li{
	height:25px;
	clear:both;
	border-bottom: 1px solid #ccc;		
	cursor: move;
	background-color: #fff;
}

.opacity_panel{
	height:25px;
	background:#f1f1f1 url("../img/MED_back_opacity.png") repeat-x top left;
	border-top:1px solid #a3a3a3;
	border-bottom:1px solid #a3a3a3;
	cursor:text;
}
.opacity_panel .opacity_label{
	line-height:25px;
	float:left;
	width: 90px;
	font-size:10px;
	color:#333;
	margin-left: 34px;
	
}
.opacity_panel .slider{
	float:right;
	height:5px;
	width:95px;
	margin: 9px 15px 0 0;
	border: 1px solid #999;
	cursor:pointer;
	
}

.ui-slider-horizontal .ui-slider-handle {
	top: -0.3em;
}
.ui-slider .ui-slider-handle {
	height:10px;
	width:10px;
	background: none;
	background-color: #666;
}

a.ui-slider-handle.ui-state-default.ui-corner-all.ui-state-hover,
a.ui-slider-handle.ui-state-default.ui-corner-all.ui-state-focus
{
	border: 2px solid #B4D1E6;
} 
ul.layer_panel > li > * {
	
}

ul.layer_panel > li > input {
	margin:6px 5px 0px 5px;
	width:18px;
	float:left;
	cursor:pointer;
}

ul.layer_panel > li > img{
	float:right;
	padding: 5px 15px 5px 10px;
	cursor:pointer;
}

ul.layer_panel > li > img.legend{
	padding: 5px 0px;

}

ul.layer_panel > li > p {
	margin-right:30px;
	margin-left:25px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;	/* required for Opera */
    -ms-text-overflow: ellipsis;	/* required for IE8, allegedly */
    -moz-binding: url('ellipsis.xml#ellipsis');    /* for Firefox; details here */

    border-left:1px solid #ccc;
    color: #000;
    font-size:10px;
    height:25px;
    line-height: 25px;
	padding-left: 5px;
	padding-right: 5px;
}

ul.layer_panel > li > p.disable{
	color:#666;
}

footer{
	height:37px;
	background-color:#013e88;
	color:#84aed2;
	text-shadow: #000 0px -1px 0px;
	font-size:10px;
	border-top: 1px solid #000f49;
	overflow:hidden;
}

footer .geographica{
	float:right;
	margin: 10px 10px 0 0;
	color:#84aed2;
	text-shadow: #000 0px -1px 0px;
	
}

p.credits{
	float:left;
	margin-top:12px;
	margin-left: 10px;
	
}

.logo_upo{
	float:right;
	margin: 17px 15px 0 20px ;
}

#container{
	position:relative;
	overflow: hidden;
}

#panel_search{
	position: absolute;
	z-index: 6;
	left: 0;
	top: 0;
	width: 40%;
	background-color: #fff;
	overflow-y: scroll;
	border-right:1px solid #999;
}

ul.search_result,ul.wms{
	list-style:none;
}

ul.search_result li{
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	height: 40px;
}

ul.search_result li{
	height:inherit;
}
ul.search_result li:hover{
	background-color:#f2f7fb;
}


ul.search_result li .counter{
	color: #0363aa;
	float:left;
	margin: 0 0 0 10px;
	width: 30px;
	
}

ul.search_result li .img_label{
	float:left;
	height: 18px;
	width: 18px;
	margin: 0 13px 0 7px;
}

ul.search_result li .img_label.WMS{
	background:url("../img/MED_icon_resul_wms.png") no-repeat top left;
}

ul.search_result li .img_label.WWW{
	background:url("../img/MED_icon_resul_url.png") no-repeat top left;
}

ul.search_result li .img_label.CSW{
	background:url("../img/MED_icon_resul_cat.png") no-repeat top left;
}

ul.search_result li:hover .ctrl_expand{
	display:block;
}
ul.search_result li .ctrl_expand{
	float:right;
	color:#0363aa;
	margin-right: 20px;
	display:none;
	cursor:pointer;
}

ul.search_result li .ctrl_expand{
	float:right;
	color:#0363aa;
	margin-right: 20px;
	display:none;
}

ul.search_result li .info{
	margin: 0 40px 0 70px;	
}

ul.search_result li .info p{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
ul.search_result li .info p:nth-child(1){
	color:#0363aa;
}

ul.search_result li .info p:nth-child(2){
	color:#ccc;
	font-size:11px;
}

ul.search_result li .extra{
	color:#999;
}
ul.search_result li .extra p{
	font-size: 11px;
	padding: 10px 30px 10px 70px;
}

ul.search_result li .extra a {
	font-weight: bold;
}
p.no_search{
	padding:20px;
}

.wms_back{
	height:33px;
	line-height:33px;
	background-color:f2f2f2;
	border-bottom:1px solid #ccc;	
	display:block;
}

.wms_back img{
	margin-left:10px;	
}

.wms_back span{
	margin-left:10px;	
}

#more{
	margin: 20px 0 20px 48px;
}

#more a{
	color:#0363aa;
}


ul.wms li:nth-child(1){
	background: url("../img/MED_icon_resul_wms.png") no-repeat 10px 0;	
}

ul.wms li{
	background: url("../img/MED_icon_layer.png") no-repeat 10px 0;	
	padding: 0px 40px 0 40px;
	margin-top: 15px;
	color: #ccc;
	border-bottom:1px dotted #999999;
}
ul.wms li .title{
	color:#666;
	font-size:11px;
	font-weight:bold;
	
}

ul.wms li:nth-child(1) .att{
	color:#ccc;
	font-size:11px;
}

ul.wms li:nth-child(1) .title{
	color:#0363aa;
	font-size:13px;
}



ul.wms .desc{
	color: #999;
	font-size: 11px;
	margin-top: 15px;
}


.grey{ color:#ccc; }
.grey2{ color:#666}
.blue{ color:#0363aa; }
.black { color: #343434; }
.search_result_top{
	font-size:11px;
	border-top: 1px solid #ccc;
	height: 26px;
	line-height: 26px;
	border-bottom: 1px solid #999;
	padding-left: 30px;
}

.cursor_cross{
	cursor: url("../img/MED_herram_area_cursor.png") 13 16;
}

.cursor_info{
	cursor: url("../img/MED_herram_info_cursor.png") 13 16;
}

#rectangle_name{
	position: absolute;
	z-index: 2;	
	border: 1px solid #013e88;
	height: 21px;
	font-size:10px;
	background-color:#cccccc;
}

#rectangle_name > *{
	float:left;
	height: 21px;
	line-height: 21px;
	border-left: 1px solid #333;
}

#rectangle_name input{
	color:#999999;
	width:100px;
	border:none;
	padding: 0 5px;
	font-size:10px;
	
}

#rectangle_name a{
	padding: 0 5px;
	text-shadow: 0 1px 0 #fff;
}

#rectangle_name a[save]{
	color:#0363aa;
}

#rectangle_name a[cancel]{
	color:#333;
}

.co_overlay_panel,.flotable_legend{

	position: absolute;
	left: 0;
	right: 0;
	z-index:1;
	cursor: move;
}

.flotable_legend{
	z-index:2;
	background-color:#f1f1f1;
	width: 300px;
	border:1px solid #a3a3a3;

}

.flotable_legend h4{
	height:26px;
	background-color: #fff;
	
}
.flotable_legend h4 > *{
	float:left;
	font-size:10px;
	color:#000000;
	
}

.flotable_legend h4 > img.close{
	float:right;
	margin: 7px 6px 0 0;
	cursor:pointer;
}

.flotable_legend h4 :nth-child(1){
	margin: 5px;
}
.flotable_legend h4 :nth-child(2){
	margin: 6px 5px 0 0 ;
		white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;	/* required for Opera */
    -ms-text-overflow: ellipsis;	/* required for IE8, allegedly */
    -moz-binding: url('ellipsis.xml#ellipsis');    /* for Firefox; details here */
	width: 245px;
}
.flotable_legend .co_legend{
	overflow: auto;
	height: 250px;
	width: 100%;
	border-top: 1px solid #d1d1d1;
}

#tool_bar{
	position: absolute;
	top: 0;
	background-color: #ccc;
	height: 29px;
	width: 67px;
	border-radius: 0 0 5px 5px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	left: 50%;
	margin-left: -36px;
	z-index: 2;
}

#tool_bar > * {
	width: 29px;
	height: 23px;
	float:left;
	cursor: pointer;
	margin-top: 2px;
	margin-left: 2px;
}

#tool_bar #ctrl_rectangle_drawer{
	background:url("../img/MED_herram_area_OFF.png");	 	 
}

#tool_bar #ctrl_rectangle_drawer.enable{
	background:url("../img/MED_herram_area_ON.png");	 
}

#tool_bar #ctrl_feature_info{
	background:url("../img/MED_herram_info_OFF.png");	 	 
}

#tool_bar #ctrl_feature_info.enable{
	background:url("../img/MED_herram_info_ON.png");	 
}

#container_feature_info{
	width: 800px;
	height: 400px;
	overflow:auto;
}

#catalog{
	background-color: #fff;
	height: 100%;
	overflow-y:auto;
}

#catalog .container{
    width: 905px;
	margin: auto;
	height:100%;
	
}

#catalog .container .info{
    float:left;
	margin: 0 10px;
	width: 240px;
	height:100%;
}



#catalog .container .families{
	float:left;
	width: 640px;
	min-height:100%;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	padding-top: 25px;
}

ul.families > li{ 
    border-bottom: 1px solid #ccc;
	line-height: 35px;
	
}

ul.families li.close{
    background-color:#fff;
	cursor: pointer;
}

ul.families li.open{
    background-color:#f2f7fb;
}

ul.families ul.family_header{
	cursor: pointer;
}

ul.families ul.family_header > li{
	float:left;
	line-height: 35px;
	font-size:11px;
}
ul.families ul.family_header  > li.ico_open_close{
	margin-left: 10px;
	margin-top: 10px;
}
ul.families ul.family_header > li.ico{
	margin-top: 8px;
}
ul.families ul.family_header > li.closeme{
	float:right;
	margin-right: 10px;
	color: #0363aa;
	font-size:10px;
}

ul.families ul.family_header > li.name{
	color:#0363aa;
	margin: 0 5px 0 5px;
}

ul.families ul.family_header > li.n_elements{
	color:#a9a9a9;
}

ul.families li.close li.closeme{
	display:none;
}

ul.families li.close ul.family_content{
	display: none;	
}


ul.families ul.family_content{
	margin: 0 10px;
	color: #666;
	font-size: 11px;
}

ul.family_content > li { 
	border-top : 1px dotted #ccc;
}

ul.family_content > li > img {
	float:left;
	margin: 12px 5px 0 20px;
}

ul.family_content > li > span {
	float:left;	
	font-weight: bold;	
}

ul.family_content > li > a {
	float:right;	
	font-weight: bold;
	color:#333;
}


ul.family_content > li > p{
	clear:both;
	font-size: 11px;
	margin: 10px 20px 20px 20px;
	line-height: 15px;
}

#catalog h4{
   margin-top: 25px;
   margin-bottom: 5px;
   font-size:18px;
   color:#007eb6;
}


#catalog .info{
   font-size:13px;
   color:#666;
   
}

#catalog .info a {
	display: block;
	color: #007eb6;
	margin: 20px 0 0 0;
	font-size: 14px;
	
	
}

