@CHARSET "UTF-8";
html {
	height:100%;
}

body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;	
	background-color:#ccc;
	color:#333;
}

a{
	color:#333;
	text-decoration:none;
}
.map{
	height:100%;
	float:left;	
}

.sep{
	width: 2px;
	background-color: #CCC;
	position: absolute;
	top: 74px;	
	z-index: 2;
	height: 452px;
}

#map_left, #map_right{
	height:100%;
}


header{
	height:72px;
	background-color:#176fb1;
	border-bottom:1px solid #013e88;	
	margin-bottom:2px;
}

header nav a{
	float: left;
	background: url("../img/MED_separador_cab2.png") no-repeat top right;
	line-height: 72px;
	height: 72px;
	color: #B4D1E6;
	font-size: 12px;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 12px;
	text-shadow: #013e88 0px -1px 0px;
}

header .left{
	background-color:#0363aa;
	float:left;
	width:560px;
	height:72px;
	border-right: 1px solid #024d96;
	
}
.fleft{	float:left;}
.fright{ float:right;}
header #logo{
	margin-top: 10px;
	margin-left: 22px;	
}

header #search{
	background: white url("../img/MED_icon_buscar.png") no-repeat 353 6;
	padding-right: 22px;
	color: #333333;
	font-size: 17px;
	margin-left: 30px;
	margin-top: 19px;
	border: 1px solid #013E88;
	width: 380px;
	padding-left: 5px;
	height: 33px;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.split_ctrl{
	cursor:pointer;
	z-index:3;
	position:relative
}
img.toggle{
	position:absolute;
	top:26px;
}

img.sync{
	position:absolute;
	top:0;
	
}

#map_left .split_ctrl img.toggle{
	right:1px;	
}
#map_left .split_ctrl img.sync{
	right:-1px;	
}
#map_right .split_ctrl img.sync{
	left:-1px;	
}
#map_right .split_ctrl img.toggle{
	left:1px;	
}


p.credits{
	margin-top:10px;
	margin-right:20px;
	text-align:right;
	color:#84aed2;
	text-shadow: #013e88 0px -1px 0px;
}

.layer_ctrl{
	background:#f0f0f0 url("../img/MED_icon_capas.png") no-repeat right 9;
	position:absolute;
	bottom: 10px;
	right:30px;
	z-index:4;
	height: 24px;
	line-height:24px;
	padding-left: 5px;
	padding-right: 25px;
	color:#333333 !important;
	font-weight:bold;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	border: 1px solid #888;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-shadow: #fff 0px -1px 0px;
	
}
	
}
