@CHARSET "UTF-8";
html {
	height:100%;
}

body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;	
	background-color:#ccc;
}

.map,.sep{
	height:100%;
	float:left;	
}

.sep{
	width:2px;
	background-color:#ccc;	
	position:relative;
}

#map_left, #map_right{
	height:100%;
}



header{
	height:72px;
	background-color:#176fb1;
	border-bottom:1px solid #013e88;	
	margin-bottom:2px;
}

header nav a{
	float:left;
	background:url("../img/MED_separador_cab2.png") no-repeat top right;
	line-height:72px;
	height:72px;
	color:#b4d1e6;
	font-size:12px;
	width:76px;
	text-decoration:none;
	text-align:center;	
}

header .left{
	background-color:#0363aa;
	float:left;
	width:560px;
	height:72px;
	border-right: 1px solid #024d96;
	
}
.fleft{	float:left;}
.fright{ float:right;}
header #logo{
	margin-top: 10px;
	margin-left: 22px;	
}

header #search{
	background: white url("../img/MED_icon_buscar.png") no-repeat 353 6;
	padding-right: 22px;
	color: black;
	font-size: 17px;
	margin-left: 30px;
	margin-top: 19px;
	border: 1px solid #013E88;
	width: 380px;
	padding-left: 5px;
	height: 33px;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.split_ctrl{
	cursor:pointer;
	z-index:3;
	position:relative
}
img.toggle{
	position:absolute;
	top:26px;
}

img.sync{
	position:absolute;
	top:0;
	
}
#map_left .split_ctrl img.toggle,#map_left .split_ctrl img.sync{
	right:0px;	
}
#map_right .split_ctrl img.toggle,#map_right .split_ctrl img.sync{
	left:0px;	
}


p.credits{
	margin-top:10px;
	margin-right:20px;
	text-align:right;
	color:#84aed2;
}

